<div class="container">
 <div class="row">
  <style>
   h4 {
    margin: 30px 100px;
   }

   /* 1200px以下の際に適用される設定 */
   @media screen and (max-width:1200px) {
    h4 {
     margin-left: 0;
    }
   }
  </style>

  <div class="col-lg-12" style="display:flex;">
   <h4>
    <span>フォロワー一覧</span>
   </h4>

   <div class="following_btn" style="margin: 30px 0;">
    <%= link_to "フォロー一覧", user_followings_path(@user), class: "btn btn-secondary" %>
   </div>
  </div>

  <div class="col-lg-12" style="margin-bottom: 30px;">
   <% if @users.exists? %>
    <%= render 'follow_list', users: @users %>
   <% else %>
    <p>ユーザーはいません</p>
   <% end %>
  </div>
 </div>
</div>
