<div class="container">
 <div class="row">
  <style>

  </style>

  <div class="col-lg-12" style="display:flex;">
   <h3>
    <span>フォロー一覧</span>
   </h3>

   <div class="follower_btn">
    <%= link_to "フォロワー一覧", user_followers_path(@user), class: "btn btn-secondary" %>
   </div>
  </div>

  <div class="col-lg-12">
   <%= render 'follow_list', users: @users %>
  </div>

 </div>
</div>
