<style>
 .col-lg-12 {
  margin-bottom: 30px;
 }

 .post_all, .text {
  width: 920px;
  margin: 0 auto 30px;
 }

 /* postクラスの親要素 */
 .post_all {
  display: flex; /* Flexboxの利用 */
  flex-wrap: wrap; /* Flexコンテナーを超えた際、子要素を折り返す */
 }

 /* 写真とリンクをまとめたもの */
 /* post_imageクラスの親要素、post_allクラスの子要素 */
 .post {
  text-align: left;
  margin: 5px;
 }

 /* 写真自体 */
 /* post_imageクラスの子要素 */
 .post_image {
  object-fit: cover; /* 中央でトリミング */
  width: 220px;
  height: 220px;
 }

 .post > a {
  text-decoration: none;
  display:inline-block;
 }

 .pagination {
  margin-bottom: 30px;
 }

 /* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
 @media screen and (max-width: 1024px) {
  .post_all, .text {
   width: 640px;
  }

  .post_image {
   width: 150px;
   height: 150px;
  }

  .post {
   margin: 5px;
 }

 /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
 @media screen and (max-width:768px) {
  .post_all, .text {
   width: 380px;
  }

  .post_image {
   width: 180px;
   height: 180px;
  }

  .post {
   margin: 5px;
  }
 }

 /* スマートフォンサイズ（425px）以下の際に適用される設定 */
 @media screen and (max-width: 425px) {
  .post_all, .text {
   width: 248px;
  }

  .post_image {
   width: 120px;
   height: 120px;
  }

  .post {
   margin: 2px;
  }
 }
</style>

<div class="text">
 <h4 style="margin-top: 30px;">
  <span>投稿一覧</span>
 </h4>
</div>

<!-- post_imageが無い場合 -->
<% if post_images.empty? %>

 <div class="post_all">
  <% post_images.each do |post_image| %>
   <div class="post">
    <!-- 管理者としてログインしていますか？ -->
    <% if admin_signed_in? %>
     <%= link_to admin_post_image_path(post_image.id) do %>
      <%= image_tag post_image.image, class: "post_image" %>
     <% end %>
    <!-- 管理者以外 -->
    <% else %>
     <%= link_to post_image_path(post_image.id) do %>
      <%= image_tag post_image.image, class: "post_image" %>
     <% end %>
    <% end %>
 
   </div>
  <% end %>
 </div>