<div class="container">
 <div class="row">
  <style>
   .field {
    text-align: center;
    position: relative;
    margin-top: 15%;
   }

   .text {
    display: inline-block;
    text-align: left;
   }
  </style>

  <div class="col-lg-12">
   <div class="field">
    <div class="text">
     <h1>
      About
     </h1>
     <p>
      Catgraphは「猫の写真だけ」を共有し合うサイトです。<br />
      いつでもどこでも猫さんの写真を、投稿・閲覧可能です。<br />
      日々移り変わる日常の中で、猫さんの写真を通じて、<br />
      少しでも癒しを感じてもらえたら…と思います。
     </p>
    </div>
   </div>
  </div>
 </div>
</div>