<div class="container">
 <div class="row">
  <style>
   .no_image > h3 {
    margin: 70px 0;
   }

   .post_image {
    width: 220px;
    height: 220px;
    object-fit: cover; /* 中央でトリミング */
   }

   /* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
   @media screen and (max-width: 1024px) {
    .post_image {
     width: 150px;
     height: 150px;
    }
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width:768px) {
    .post_image {
     width: 180px;
     height: 180px;
    }
   }

   /* スマートフォンサイズ（425px）以下の際に適用される設定 */
   @media screen and (max-width: 425px) {
    .post_image {
     width: 120px;
     height: 120px;
    }
   }
  </style>
  <div class="col-lg-12">
   <div class="text">
    <h4 style="margin-top: 30px;">
     <span>投稿一覧</span>
    </h4>
   </div>
   <%= render 'public/post_images/index', post_images: @post_images %>
   <%= paginate @post_images %>
  </div>
 </div>
</div>