<div class="container">
 <div class="row">
  <style>
   .no_image > h3 {
    margin: 70px 0;
   }
  </style>
  <div class="col-lg-12">
   <%= render 'public/post_images/index', post_images: @post_images %>
   <%= paginate @post_images %>
  </div>
 </div>
</div>