<div class="container">
 <div class="row">
  <style>
   .post_all {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
   }

   .post_image {
    padding: 5px;
    text-align: left;
    width: 230px;
    height: 230px;
    object-fit: cover; /* 中央でトリミング */
   }

   h3 > span {
    padding-left: 10%;
   }

   .pagination {
    justify-content: center;
   }

   /* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
   @media screen and (max-width: 1024px) {
    h3 > span {
     padding-left: 2%;
    }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width:768px) {
    .post {
     max-width: 730px;
    }
   }
  </style>

  <div class="col-lg-12">
   <h3 style="margin: 30px 0;">
    <span>投稿一覧</span>
   </h3>
  </div>

  <div class="col-lg-12">
   <div class="post_all">

    <div class="post">
     <% @post_images.each do |post_image| %>
      <%= link_to admin_post_image_path(post_image.id) do %>
       <%= image_tag post_image.image, class: "post_image" %>
      <% end %>
     <% end %>
    </div>

   </div>
   <%= paginate @post_images %>
  </div>
 </div>
</div>
