<div class="container">
 <div class="row">
  <style>
  .post_all, .text {
   width: 1000px;
   margin: 0 auto;
  }

   /* postクラスの親要素 */
   .post_all {
    display: flex; /* Flexboxの利用 */
    flex-wrap: wrap; /* Flexコンテナーを超えた際、子要素を折り返す */
   }

   /* 写真とリンクをまとめたもの */
   /* post_imageクラスの親要素、post_allクラスの子要素 */
   .post {
    text-align: left;
    margin: 10px;
   }

   /* 写真自体 */
   /* post_imageクラスの子要素 */
   .post_image {
    object-fit: cover; /* 中央でトリミング */
   }

   .post > a {
    text-decoration: none;
    display:inline-block;
   }

   .post > a, .post_image {
    width: 230px;
    height: 230px;
   }

   .pagination {
    justify-content: center;
   }

   /* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
   @media screen and (max-width: 1024px) {
    .post_all, .text {
     width: 640px;
    }

    .post > a, .post_image {
     width: 150px;
     height: 150px;
    }

    .post {
     margin: 5px;
   }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width:768px) {
    .post_all, .text {
     width: 340px;
    }

    .post > a, .post_image {
     width: 160px;
     height: 160px;
    }

    .post {
     margin: 5px;
    }
   }

   /* スマートフォンサイズ（425px）以下の際に適用される設定 */
   @media screen and (max-width:425px) {
    .post_all, .text {
     width: 250px;
    }

    .post > a, .post_image {
     width: 115px;
     height: 115px;
    }
   }
  </style>

  <div class="col-lg-12">
   <div class="text">
    <h4 style="margin: 30px 0;">
     <span>投稿一覧</span>
    </h4>
   </div>

   <div class="post_all">
    <% @post_images.each do |post_image| %>
     <div class="post">
      <%= link_to admin_post_image_path(post_image.id) do %>
       <%= image_tag post_image.image, class: "post_image" %>
      <% end %>
     </div>
    <% end %>
   </div>
   <%= paginate @post_images %>
  </div>
 </div>
</div>
