<style>
 select {
  height: 30px;
 }
</style>

<!-- ログイン済みユーザーですか？、尚且つ、ログインユーザーの名前が「ゲスト」の場合、表示しない -->
<% if user_signed_in? && current_user.name != "ゲスト" %>
 <div class="search_from">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
   <%= f.text_field :word, class: "word" %>
   <%= f.select :model, options_for_select({ "ユーザー" => "user", "投稿" => "post_image" }) %>
   <%= f.submit "検索" %>
  <% end %>
 </div>
<% end %>