<div class="container">
 <div class="row">
  <style>
   .favorites {
    display: flex;
    flex-wrap: wrap;
   }

   .post_image {
    width: 230px;
    height: 230px;
    object-fit: cover; /* 中央でトリミング */
   }

   .pagination {
    justify-content: center;
   }

   .img {
    position: relative;
    width: 230px;
   }

   .cancel {
    position: absolute;
    right: 0;
    width: 0;
    height: 0;

    border-bottom: solid 20px transparent;
    border-top: solid 20px rgba( 128, 128, 128, 0.7 );
    border-left: solid 20px transparent;
    border-right: solid 20px rgba( 128, 128, 128, 0.7 );
   }

   .cancel_button {
    font-weight: bold;
    color: white;
   }
  </style>

  <div class="col-lg-12">
   <h3>
    <span>お気に入り一覧</span>
   </h3>

   <div class="favorites">
    <% @favorite_post_images.each do |post_image| %>
    <div class="img">
     <div class="cancel">
      <%= link_to post_image_favorites_path(post_image), class: "cancel_button", method: :delete do %>
       <h3>×</h3>
      <% end %>
     </div>

     <%= link_to post_image_path(post_image.id) do %>
      <%= image_tag post_image.image, class: "post_image" %>
     <% end %>
    </div>
    <% end %>

   </div>
   <%= paginate @favorite_post_images %>
  </div>

 </div>
</div>