<div class="container">
 <div class="row">
  <style>
   .text {
    text-align: center;
    margin: 15% 0 20%;
   }

   h4 {
    margin-bottom: 30px;
   }

   p {
    margin-bottom: 50px;
   }

   .btn {
    margin-right: 30px;
   }

   .btn-danger {
   color: #fff;
   background-color: #dc3545;
   border-color: #dc3545;
  }

   /* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
   @media screen and (max-width: 768px) {
    .text {
     margin: 25% 0 30%;
    }
   }
  </style>

  <div class="col-lg-12">
   <div class="text">
    <h4 style="font-weight: bold;">
     本当に退会しますか？
    </h4>

    <p>
     退会すると、ユーザー登録情報や<br />
     これまでの投稿、いいねやコメントが削除されます。<br />
     退会する場合は、「退会する」をクリックしてください。
    </p>

    <div class="actions">
     <%= link_to "退会しない", user_path(@user.id), class: "btn" %>
     <%= link_to "退会する", withdraw_path(@user.id), method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
    </div>
   </div>
  </div>
 </div>
</div>